/* Write your CSS here */
li {
  list-style: none;
}
.tab-item-container {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  border-bottom: solid 1px;
  border-color: #7b8794;
}
.tab-item {
  font-size: 15px;
  color: #7b8794;
}
.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}
.selected-tab {
  font-size: 16px;
  border-width: 2px;
  border-color: #2563eb;
  color: #2563eb;
}
@media (max-width: 768px) {
  .tab-item-container {
    padding: 0px;
    padding-top: 10px;
  }
}
